<button id="navigation"
        class="navbar-toggle collapsed navigation"
        type="button">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>
<link rel="stylesheet" 
      type="text/css" 
      href="{% if env === 'development' %}/styles/navigation/app.css{% else %}http://ocgkyeaew.bkt.clouddn.com/styles/navigation/app-913358ac0c.min.css{% endif %}">
<script type="text/javascript"
        src="{% if env === 'development' %}/scripts/navigation/app.js{% else %}http://ocgkyeaew.bkt.clouddn.com/scripts/navigation/app-cff4e4795a.min.js{% endif %}">
</script>