{% include "common/head.html" %}
<link rel="stylesheet" type="text/css" href="{% if env === 'development' %}/styles/articles/app.css{% else %}http://ocgkyeaew.bkt.clouddn.com/styles/articles/app-149cd943e5.min.css{% endif %}">
{% include "common/navigation.html" %}
<app></app>
{% include "common/footer.html" %}
<footer class="footer-info"> 
    @Mulberry Profession In Certain Filed.
</footer>
<script type="text/javascript" src="{% if env === 'development' %}/libs/ckeditor/ckeditor.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/ckeditor/ckeditor.js{% endif %}"></script>
<script type="text/javascript" src="{% if env === 'development' %}/libs/webuploader/webuploader.html5only.min.js{% else %}http://ocgkyeaew.bkt.clouddn.com/libs/webuploader/webuploader.html5only.min.js{% endif %}"></script>
<script type="text/javascript" src="{% if env === 'development' %}/scripts/articles/app.js{% else %}http://ocgkyeaew.bkt.clouddn.com/scripts/articles/app-948f792f8a.min.js{% endif %}"></script>
</body>
</html> 