.poetry {
    position: absolute;
    right: 50px;
    bottom: 50px;
    font-size: 14px;
    font-family: cursive;
}

.footer-info {
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 12px;
    bottom: 15px;
    font-style: italic;
    font-family: cursive;
}